<ul class="classificacao">
    <li class="classificacao-item">
        <div class="classificacao-conteudo">
            <div class="classificacao-posicao">
                1º
            </div>
            <div class="classificacao-titulo">
                {{ resultadoCampeonato?.campeao.titulo }}
            </div>
        </div>
    </li>
    <li class="classificacao-item">
        <div class="classificacao-conteudo">
            <div class="classificacao-posicao">
                2º
            </div>
            <div class="classificacao-titulo">
                {{ resultadoCampeonato?.viceCampeao.titulo }}
            </div>
        </div>
    </li>
</ul>