<section>
    <ul class="filmes" *ngIf="(filmes$ | async) as filmes; else carregando">
        <li class="filme-item" *ngFor="let filme of filmes" appElevar>
            <div class="filme-conteudo">
                <div class="filme-checkbox">
                    <input type="checkbox" (change)="selecionarFilme(filme, $event)">
                </div>
                <div class="filme-info">
                    <div class="filme-titulo">{{ filme.titulo }}</div>
                    <div class="filme-ano">{{ filme.ano }}</div>
                </div>
            </div>
        </li>
    </ul>
</section>

<ng-template #carregando>
    <app-spinner></app-spinner>
</ng-template>