<app-cabecalho 
    [subTitulo]="'Resultado Final'" 
    [descricao]="'Veja o resultado final do Campeonato de filmes de forma simples e rápida'">
</app-cabecalho>

<div *ngIf="resultadoCampeonato; else carregando">
    
    <app-posicao-campeonato [resultadoCampeonato]="resultadoCampeonato"></app-posicao-campeonato>
    
    <div class="texto-centralizado">
        <button [routerLink]="['']" appFocoBotao class="botao-voltar">Voltar</button>
    </div>
    
</div>

<ng-template #carregando>
    <app-spinner></app-spinner>
</ng-template>